################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/CppProperties.json
/comp345.vcxproj.user
/comp345.vcxproj.filters
/comp345.vcxproj
/comp345.sln
